macro_adgod: macro_adgod{
compatible = "zmk,behavior-macro";
label = "macro_adgod";
#binding-cells = <0>;
wait-ms = <30>;
tap-ms = <40>;
bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp K> , <&macro_release &kp LSHFT>, <&macro_tap &kp A &kp K &kp A &kp M &kp I &kp T &kp A &kp MINUS &kp STAR &kp KP_NUMBER_7 &kp ENTER> ;
};
macro_kinesis: macro_kinesis{
compatible = "zmk,behavior-macro";
label = "macro_kinesis";
#binding-cells = <0>;
wait-ms = <30>;
tap-ms = <40>;
bindings = <&macro_press &kp LSHFT>,<&macro_tap &kp O>, <&macro_release &kp LSHFT>, <&macro_tap &kp N &kp K &kp O &kp M &kp I &kp L &kp A &kp KP_NUMBER_4 &kp KP_NUMBER_4 &kp ENTER>;
};
macro_conemu: macro_conemu{
compatible = "zmk,behavior-macro";
label = "macro_conemu";
#binding-cells = <0>;
wait-ms = <30>;
tap-ms = <40>;
bindings = <&macro_press &kp LGUI &kp LCTRL>, <&macro_tap &kp J>, <&macro_release &kp LGUI &kp LCTRL>;
};
